$display-height: 100vh;
$content-width: 960px;

$roboto-font: 'Roboto';
$btn-font: 'Hammersmith One';
$title-font: 'Playfair Display';


$color-btn: #00e0d0;
$white-text: #ffffff;
$dark-text: #413d4b;
$main-bg: #ffffff;
$expertise-border: #ebebeb;
$dark-border-line: #655c80;


$title-size: 22px;
$main-title-size: 33px;
$block-text-size: 14px;
$title-kinds-expertise: 14px;

$expertise-list: web-design branding mobile search game heart;
$our-client: zara mango barneys gucci calvin nike converse puma levis billabong;
$soc-list: facebook twitter dribbble instagram google youtube;

$inside-border: 1px solid #ebebeb;