.content {
  width: 960px;
  margin: 0 auto;
}

.section-btn {
  border: 1px solid #00e0d0;
  color: #00e0d0;
  font-family: "Hammersmith One";
  padding: 10px 20px;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}
.section-btn:hover {
  border: 1px solid #060309;
}
.section-btn:active {
  color: #060309;
}

.center-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 130px;
}

.titles {
  font-size: 22px;
  font-family: "Playfair Display";
  text-transform: uppercase;
  margin-bottom: 20px;
}

.main-title {
  font-size: 33px;
  text-transform: none;
  margin-bottom: 20px;
}

.underline-title:after {
  content: '';
  display: block;
  width: 50px;
  border-bottom: 2px solid #00e0d0;
  margin: 20px auto;
}

.underline-title-dark:after {
  content: '';
  display: block;
  width: 50px;
  border-bottom: 2px solid #655c80;
  margin: 20px auto;
}

.block-text {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.white-title, .white-text {
  color: #ffffff;
}

.dark-title, .dark-text {
  color: #413d4b;
}

.section-padding {
  padding: 70px 0;
}

.bg-overlay {
  background: url(../../img/overlay-welcome.png) no-repeat center top;
  height: 100vh;
  background-size: cover;
}

.section-headers {
  text-align: center;
  margin-bottom: 50px;
}

.welcome-section {
  background: url(../../img/welcome-bg.png) no-repeat center top;
  height: 100vh;
  background-size: cover;
}

.welcome-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
.welcome-header h1 {
  position: absolute;
  left: 0;
  text-indent: -9999px;
}

.nav-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 15px;
}
.nav-list li {
  margin-left: 25px;
}
.nav-list li a {
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: "Roboto";
}
.nav-list li a:active {
  color: #00e0d0;
}

.welcome-block {
  margin-top: 170px;
  text-align: center;
}

.story-section {
  background-color: #ffffff;
}

.story-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
.story-block:before {
  content: '';
  display: block;
  width: 240px;
  height: 230px;
  background: url(../../img/story-img.png) no-repeat;
}

.story-content {
  width: 520px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 100px;
}

.video-section {
  background: url(../../img/video-bg.png) no-repeat center top;
  height: 100vh;
  background-size: cover;
}

.video-block {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.video-block:before {
  content: '';
  display: block;
  width: 120px;
  height: 110px;
  background: url(../../img/play.png) no-repeat;
  margin-bottom: 20px;
}

.title-kinds-expertise {
  font-family: "Roboto";
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.kinds-expertise {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.kinds-expertise li {
  max-width: 33%;
  padding: 35px 30px 45px;
  text-align: center;
}

.web-design-expertise:before {
  content: '';
  background: url(../../img/expertise/web-design.png) no-repeat;
  display: block;
  height: 50px;
  margin-bottom: 30px;
  background-position: center;
}

.branding-expertise:before {
  content: '';
  background: url(../../img/expertise/branding.png) no-repeat;
  display: block;
  height: 50px;
  margin-bottom: 30px;
  background-position: center;
}

.mobile-expertise:before {
  content: '';
  background: url(../../img/expertise/mobile.png) no-repeat;
  display: block;
  height: 50px;
  margin-bottom: 30px;
  background-position: center;
}

.search-expertise:before {
  content: '';
  background: url(../../img/expertise/search.png) no-repeat;
  display: block;
  height: 50px;
  margin-bottom: 30px;
  background-position: center;
}

.game-expertise:before {
  content: '';
  background: url(../../img/expertise/game.png) no-repeat;
  display: block;
  height: 50px;
  margin-bottom: 30px;
  background-position: center;
}

.heart-expertise:before {
  content: '';
  background: url(../../img/expertise/heart.png) no-repeat;
  display: block;
  height: 50px;
  margin-bottom: 30px;
  background-position: center;
}

.kinds-expertise li:nth-child(1) {
  border-right: 1px solid #ebebeb;
}

.kinds-expertise li:nth-child(2) {
  border-right: 1px solid #ebebeb;
}

.kinds-expertise li:nth-child(4) {
  border-right: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}

.kinds-expertise li:nth-child(5) {
  border-right: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}

.kinds-expertise li:nth-child(6) {
  border-top: 1px solid #ebebeb;
}

.kinds-expertise li:nth-child(3n+9) {
  border-top: 1px solid #ebebeb;
}

.kinds-expertise li:nth-child(3n+8) {
  border-right: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}

.expertise-section li:nth-child(3n+7) {
  border-right: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}

.team-section {
  background: url(../../img/team-bg.png) no-repeat center top;
  height: 100vh;
  background-size: cover;
}

.team-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  height: 310px;
}
.team-list li {
  width: 23%;
  overflow: hidden;
  text-align: center;
  border: 1px solid #7c7991;
}

.team-list-names, .team-list-post {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 14px;
  padding: 10px;
  text-transform: uppercase;
}

.team-list-post {
  font-size: 12px;
}

.footer-section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-works-header {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.all-works-btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  cursor: pointer;
  background: none;
  border: none;
}
.all-works-btn:after {
  content: '';
  background: url(../../img/right154.png) no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.all-works-btn:active {
  opacity: 0.5;
}

.top-line-gallery {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.top-line-gallery .for-1 {
  background: url(../../img/photo-gallery/1.png) no-repeat;
  width: 264px;
  height: 200px;
}
.top-line-gallery .for-2 {
  background: url(../../img/photo-gallery/2.png) no-repeat;
  width: 264px;
  height: 200px;
}
.top-line-gallery .for-3 {
  background: url(../../img/photo-gallery/3.png) no-repeat;
  width: 264px;
  height: 200px;
}
.top-line-gallery .for-4 {
  background: url(../../img/photo-gallery/4.png) no-repeat;
  width: 264px;
  height: 200px;
}
.top-line-gallery .for-5 {
  background: url(../../img/photo-gallery/5.png) no-repeat;
  width: 264px;
  height: 200px;
}
.top-line-gallery .for-6 {
  background: url(../../img/photo-gallery/6.png) no-repeat;
  width: 264px;
  height: 200px;
}

.bottom-line-gallery {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 50px;
}
.bottom-line-gallery .for-7 {
  background: url(../../img/photo-gallery/7.png) no-repeat;
  width: 264px;
  height: 200px;
}
.bottom-line-gallery .for-8 {
  background: url(../../img/photo-gallery/8.png) no-repeat;
  width: 264px;
  height: 200px;
}
.bottom-line-gallery .for-9 {
  background: url(../../img/photo-gallery/9.png) no-repeat;
  width: 264px;
  height: 200px;
}
.bottom-line-gallery .for-10 {
  background: url(../../img/photo-gallery/10.png) no-repeat;
  width: 264px;
  height: 200px;
}
.bottom-line-gallery .for-11 {
  background: url(../../img/photo-gallery/11.png) no-repeat;
  width: 264px;
  height: 200px;
}
.bottom-line-gallery .for-12 {
  background: url(../../img/photo-gallery/12.png) no-repeat;
  width: 264px;
  height: 200px;
}

.team-words-section {
  background: url(../../img/team-words-bg.png) no-repeat;
  height: 100vh;
  background-size: cover;
}

.team-words {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.team-words:before {
  content: '';
  background: url(../../img/bloq-symbol.png) no-repeat;
  display: block;
  width: 45px;
  height: 30px;
  margin-bottom: 30px;
}
.team-words .blockquote-text {
  width: 785px;
  text-align: center;
}

.news-client-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.good-news {
  width: 450px;
}
.good-news form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.good-news form input, .good-news form textarea {
  border: 1px solid #ebebeb;
  padding: 20px;
  margin-bottom: 20px;
}
.good-news form textarea {
  resize: none;
  height: 200px;
}
.good-news form button {
  align-self: flex-start;
}

.our-client {
  width: 400px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.our-client li {
  margin-bottom: 30px;
}
.our-client h3 {
  position: absolute;
  left: 0;
  text-indent: -9999px;
}

.client-zara {
  background: url(../../img/our-client/zara.png) no-repeat;
  display: block;
  width: 165px;
  height: 70px;
}

.client-mango {
  background: url(../../img/our-client/mango.png) no-repeat;
  display: block;
  width: 165px;
  height: 70px;
}

.client-barneys {
  background: url(../../img/our-client/barneys.png) no-repeat;
  display: block;
  width: 165px;
  height: 70px;
}

.client-gucci {
  background: url(../../img/our-client/gucci.png) no-repeat;
  display: block;
  width: 165px;
  height: 70px;
}

.client-calvin {
  background: url(../../img/our-client/calvin.png) no-repeat;
  display: block;
  width: 165px;
  height: 70px;
}

.client-nike {
  background: url(../../img/our-client/nike.png) no-repeat;
  display: block;
  width: 165px;
  height: 70px;
}

.client-converse {
  background: url(../../img/our-client/converse.png) no-repeat;
  display: block;
  width: 165px;
  height: 70px;
}

.client-puma {
  background: url(../../img/our-client/puma.png) no-repeat;
  display: block;
  width: 165px;
  height: 70px;
}

.client-levis {
  background: url(../../img/our-client/levis.png) no-repeat;
  display: block;
  width: 165px;
  height: 70px;
}

.client-billabong {
  background: url(../../img/our-client/billabong.png) no-repeat;
  display: block;
  width: 165px;
  height: 70px;
}

.title-client {
  margin-bottom: 30px;
}

.main-footer {
  background: url(../../img/footer-bg.png) no-repeat center top;
  background-size: cover;
}
.main-footer .bg-overlay {
  height: 100%;
}

.top-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.top-footer h3 {
  font-size: 17px;
  font-family: "Roboto";
}

.info-logo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 32%;
}
.info-logo img {
  margin-bottom: 15px;
}

.our-studio {
  width: 33%;
}
.our-studio h3 {
  margin-bottom: 40px;
}

.footer-text {
  font-size: 14px;
  font-family: "Roboto";
  line-height: 1.8;
  margin-bottom: 20px;
  display: block;
}

.address {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.address:before {
  content: '';
  background: url("../../img/big104.png") no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.phone {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.phone:before {
  content: '';
  background: url("../../img/phone351.png") no-repeat;
  display: block;
  width: 30px;
  height: 30px;
}

.send-newsletter {
  margin-bottom: 20px;
}
.send-newsletter input {
  border: 1px solid #ebebeb;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 14px;
  font-family: "Roboto";
  margin-right: 5px;
}

.send {
  width: 70px;
  height: 40px;
  border: none;
  background-color: #ebebeb;
  opacity: 0.5;
}
.send:before {
  content: '';
  background: url(../../img/paper122.png) no-repeat center;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.soc-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
.soc-list a {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #ffffff;
  width: 40px;
  height: 40px;
  display: block;
}
.soc-list a:hover {
  border: 1px solid #00e0d0;
}

.soc-facebook {
  background: url(../../img/soc-list/facebook.png) no-repeat center;
  width: 39;
  height: 39;
}

.soc-twitter {
  background: url(../../img/soc-list/twitter.png) no-repeat center;
  width: 39;
  height: 39;
}

.soc-dribbble {
  background: url(../../img/soc-list/dribbble.png) no-repeat center;
  width: 39;
  height: 39;
}

.soc-instagram {
  background: url(../../img/soc-list/instagram.png) no-repeat center;
  width: 39;
  height: 39;
}

.soc-google {
  background: url(../../img/soc-list/google.png) no-repeat center;
  width: 39;
  height: 39;
}

.soc-youtube {
  background: url(../../img/soc-list/youtube.png) no-repeat center;
  width: 39;
  height: 39;
}

.bottom-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.footer-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.footer-nav li {
  margin-right: 30px;
}
.footer-nav li a {
  font-size: 14px;
  color: #ebebeb;
  font-family: "Roboto";
  text-transform: uppercase;
}
.footer-nav li a:hover {
  color: #00e0d0;
}

.copyright {
  font-size: 14px;
}
