.video-section{
  background: url(../../img/video-bg.png) no-repeat center top;
  @include full-bg-img;
}
.video-block{
  height: 100%;
  @include flex-center;
  flex-direction: column;
  align-items: center;
  &:before{
    content: '';
    display: block;
    width: 120px;
    height: 110px;
    background: url(../../img/play.png)no-repeat;
    margin-bottom: 20px;
  }
}